@use "../../style/variables" as *;
@use "../../style/mixins" as *;

.userdetailaction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;

  @include respond-to("phone") {
    margin: 1rem 4rem;
  }

  .goback {
    align-self: flex-start;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    color: #545f7d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .header-action {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #213f7d;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    @include respond-to("tablet") {
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      text-align: center;
    }

    button {
      &:first-child {
        @include button-style($color-error);
        margin-right: 1rem;
      }
      &:last-child {
        @include button-style($color-active);
      }
    }
  }
}

.user-details-container {
  display: flex;
  flex-direction: column;

  @include respond-to("phone") {
    margin: 0 auto;
  }

  .user-details-header {
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    background: #fff;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);

    @include respond-to("phone") {
      padding-left: 4rem;
      //   margin: 0 auto;
    }
  }

  .user-details-content {
    display: flex;
    flex: 1;
    overflow: auto;
    height: 100vh;
    // padding: 0 4rem;

    // remover scrollbar
  }
}
