@use "../../style/variables" as *;
@use "../../style/mixins" as *;

.sidebar-container {
  position: relative;
  max-width: 250px;
  transition: max-width 0.3s ease, transform 0.3s ease;
  z-index: 100000000;

  &.open {
    max-width: 250px;
    transform: translateX(0);
    margin-right: -4rem;
  }
  &.closed {
    width: 0px;
  }

  @include respond-to("phone") {
    position: absolute;
    // z-index: 10000000000;
    // z-index: 100000000;

    background-color: white;
  }

  .sidebar {
    transition: width 0.3s ease;
    height: 100vh;
    width: 250px;
    overflow: auto;
    padding-top: 2rem;
    box-shadow: 8px 5px 10px 0px rgba(0, 0, 0, 0.04);
    @include respond-to("phone") {
      // width: 0; // Sidebar completely hidden on mobile by default
      // allow to traslate away from view
      transform: translateX(-100%);
      transition: width 0.3s ease;
      // display: none;
      &.open {
        width: 250px; // Reveal sidebar when open
        //   display: block;
        // allow to translate back to view
        transform: translateX(0);
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;

    &.closed {
      width: 70px;
      .switch-organization,
      .dashooard-title-text,
      .dashboard-text,
      .item-name,
      .logout-text,
      .category h3 {
        display: none;
      }
    }

    .switch-organization,
    .dashboard-title {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 400;
      color: $color-dark-blue;
      gap: 0.5rem;

      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }

    .menu {
      .category {
        h3 {
          padding: 10px 1.5rem;
          font-size: 0.75rem;
          font-weight: 400;
          color: $color-dark-blue;
          margin-top: 1rem;
          text-transform: uppercase;
          font-weight: 600;
        }
        .items {
          .item {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            transition: background-color 0.2s;
            text-decoration: none;

            .item-name {
              text-decoration: none;
              color: $color-dark-blue;
              transition: color 0.2s;
            }

            &:hover {
              background-color: $color-primary;
              .item-name {
                color: white;
              }
            }
            img {
              margin-right: 10px;
              opacity: 0.5;
            }

            &.active {
              // opacity: 0.06;

              background: #c0efef4c;
              color: $color-dark-blue !important;
              border-left: 4px solid $color-primary;
              border-radius: 5px 0 0 5px;
              font-weight: 500;

              &:hover {
                color: $color-dark-blue !important;
              }
            }

            &visited {
              background-color: $color-primary;
              // color: white;
            }
          }
        }
      }
    }

    .sidebar-footer {
      padding: 15px 20px;
      .logout {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
    }
  }

  //   Toggle Button
  .toggle-button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    left: 11px;
    z-index: 100000;
    width: 80px;
    height: 30px;
    display: flex;
    // background: #000;

    @include respond-to("tablet") {
      left: -13px;
    }
    // @include respond-to("tablet") {
    //   .toggle-button {
    //     top: 15px;
    //     right: 15px;
    //   }
    // }

    &:hover {
      opacity: 0.8;
    }

    .bar {
      height: 2px;
      width: 18px;
      background-color: $color-dark-blue;
      border-radius: 5px;
      position: relative;
      // bottom: 2px;
      right: 0;

      transition: all 0.3s ease;
      margin-top: 4px;

      @include respond-to("tablet") {
        bottom: 0;
        left: 26px;
      }
      // margin: 16px 25px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        // top: 10px;
        // margin: 5px 0;
        display: flex;
        height: inherit;
        width: inherit;
        background-color: inherit;
      }

      &.open {
        transform: rotate(-45deg);
        &:before {
          transform: rotate(-90deg);
          // opacity: 0;
        }

        &:after {
          // transform: rotate(-45deg);
          opacity: 0;
        }
      }

      &:before {
        transform: translateY(-6px);
      }

      &:after {
        transform: translateY(6px);
      }
    }
  }
}

// @include respond-to("phone") {
//   .sidebar {
//     position: fixed;
//     background-color: white;
//     z-index: 1000;
//     height: 100vh;
//     z-index: 1000;
//   }
// }
