$color-primary: #39cdcc;
$color-dark-blue: #213f7d;
$color-medium-blue: #545f7d;
$color-light-grey: #d9d9d9;
$color-warning: #e9b200;

$color-active: #39cd62;
$color-error: #e9122d;
$color-inactive: #545f7d;
